---
# Only file to be included
---
// Colors
$black: #000 !default;
$white: #fff !default;
$blue: #4183C4;

// Main theme colors
/* Coolors Palette - coolors.co/565264-706677-a6808c-ccb7ae-d6cfcb */
$davysGrey: #565264 !default;
$oldLavender: #706677 !default;
$mountBattenPink: #A6808C !default;
$silverPink: #CCB7AE !default;
$pasterGray: #D6CFCB !default;

// Your avatar
$avatar: "/images/avatar.jpg";

// Fonts
$font-family: "Libre Franklin", sans-serif;
$syntax-font: "Inconsolata", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@import "normalize", "syntax-highlighting";
