---
  # root of the style files
---
// Colors
$black: #000 !default;
$white: #fff !default;
$blue: #4183C4 !default;
$maroon : #7e0000 !default;

// Main theme colors
/* Coolors Palette - coolors.co/565264-706677-a6808c-ccb7ae-d6cfcb */
$davysGrey: #565264 !default;
$oldLavender: #706677 !default;
$mountBattenPink: #A6808C !default;
$silverPink: #CCB7AE !default;
$pastelGray: #D6CFCB !default;
$deepPurple: #4E388E !default;

// Screen sizes
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Fonts
$font-family: "Libre Franklin", sans-serif;
$syntax-font: "Inconsolata", monospace;

:root {
  font-family: $font-family;
  font-size: 16px;
}

@import "normalize",
        "grid",
        "base",
        "syntax-highlighting";
