.main {
  margin: 1em auto;
  min-height: 80%;
  overflow: hidden;
}

.link {
  text-decoration: none;

  &:visited,
  &:active {
    color: $black;
  }

  &:hover {
    text-decoration: underline;
  }
}

body {
  height: 100%;
  min-height: 100%;
}

html {
  height: 100%;
}

body,
html {
  background: lighten($pastelGray, 10%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

@import 'header',
        'footer',
        'page',
        'blog',
        'welcome';
