
.blog {
  @media(max-width: $screen-md) {
    margin: 2em;
  }

  .blog-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .post {
    margin: 1em 0;
  }

  .post-title {
    color: $black;
    margin: 0;
  }

  .post-description {
    color: $black;
    line-height: 1.5em;
  }

  .post-read {
    color: $davysGrey;
    font-weight: bold;
    text-decoration: underline $oldLavender;
  }
}
