.footer {
  color: $davysGrey;
  margin: 0 auto 2em;
  text-align: center;

  .footer-legend {
    margin: 1em auto;
    font-size: .7em;
  }

  .footer-separator {
    background: $davysGrey;
    border: 0;
    height: 1px;
    margin: 1em auto;
    width: 50%;
  }

  .footer-link {
    color: $davysGrey;
    font-size: 1em;
    margin: 0 .5em;

    &:visited,
    &:active {
      color: $davysGrey;
    }
  }
}
