.header {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;

  .header-container {
    align-items: stretch;
    display: flex;
    margin: 1em 0;
  }

  .logo {
    flex: 1;

    .logo-image {
      height: 100%;
      width: 250px;
    }
  }

  .nav {
    display: flex;
    flex: 2;
    justify-content: flex-end;

  }

  .nav-link {
    color: $black;
    margin: auto 0 auto 1em;
  }
}
