.header {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;

  .header-container {
    align-items: stretch;
    display: flex;
    line-height: 1.5em;
    margin: 2em 0;
  }

  .logo {
    flex: 1 auto;
    min-height: 1.3em;

    .logo-image {
      bottom: 0;
      display: block;
      left: 0;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .nav-container {
    display: flex;
    flex: 2 auto;
    justify-content: flex-end;
  }

  .nav-link {
    color: $black;
    margin: auto 0 auto 1em;
  }

  @media(max-width: $screen-md) {

    .logo-image {
      margin: auto;
    }

    .nav-container {
      display: none;
      flex-direction: column;
      flex: 1 auto;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      background: $davysGrey;
      z-index: 100;
    }

    .nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      justify-items: center;
    }

    .nav-link {
      color: $white;
      font-size: 1.5 em;
      margin: 2em auto;
      tex-align: center;
      border-bottom: 1px solid $white;
    }
  }
}
