.header {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;

  .header-container {
    align-items: stretch;
    display: flex;
    line-height: 1.5em;
    margin: 2em 0;
  }

  .logo-reactive {
    cursor: pointer;
    display: none;
    flex: 1 auto;
    min-height: 1em;

    &::after {
      content: '\f0c9';
      cursor: pointer;
      font-family: FontAwesome;
      font-size: 1.3em;
      line-height: 1.3em;
      margin: 0;
      padding: 0 1em;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: -.3em;
    }
  }

  .header-check {
    height: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 0;
  }

  .logo {
    flex: 1 auto;
  }

  .logo-image {
    bottom: 0;
    display: block;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-container {
    display: flex;
    flex: 2 auto;
    justify-content: flex-end;
  }

  .nav-link {
    color: $black;
    margin: auto 0 auto 1em;

    &.reactive {
      display: none;
    }
  }

  @media(max-width: $screen-md) {

    .header-check:checked {
      ~ .nav-container {
        display: block;
      }

      ~ .logo-reactive::after {
        color: $white;
        content: '\f00d';
        position: fixed;
        top: 1em;
        z-index: 101;
      }
    }

    .logo {
      display: none;
    }

    .logo-reactive {
      display: block;
    }

    .logo-image {
      margin: auto;
    }

    .nav-container {
      background: $davysGrey;
      bottom: 0;
      display: none;
      flex: 1 auto;
      flex-direction: column;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
    }

    .nav {
      display: flex;
      flex-direction: column;
      justify-items: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .nav-link {
      color: $white;
      font-size: 1.5 em;
      margin: 2em auto;
      text-align: center;
      text-decoration: underline $white;

      &.reactive {
        display: block;
      }
    }
  }
}
