.page {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  margin: 0 auto;


  @media(max-width: $screen-md) {
    margin: 2em;
  }

  .title-info {
    display: flex;
    justify-content: space-between;
  }

  .with-subtitle {
    margin: .67em 0;

    h1 {
      margin: 0;
    }

    i {
      font-size: 1em;
      padding-left: 1em;
    }
  }

  li {
    margin: .5em 0;
  }

  a {
    color: $spanishViolet;
    text-decoration: none;

    &:visited,
    &:active {
      color: $spanishViolet;
    }

    &:hover {
      text-decoration: underline $spanishViolet;
    }
  }

  blockquote {
    background: $mountBattenPink;
    color: $white;
    margin: 0;
    padding: 1em 2em;
  }

  .permalink {
    margin: 0 10px;
  }

  code.highlighter-rouge {
    background: $pastelGray;
    border: 1px solid $davysGrey;
    border-radius: 5px;
    color: $red;
    padding: 0 .3em;
  }
}
