<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <!-- <p class="site-description">{{ site.description }}</p> -->
  <header class="header">
    <div class="header-container grid-container">
      <a class="logo" href="{{ site.baseurl }}/" role="button">
        <img class="logo-image" alt="{{ site.title }}" />
      </a>
      <nav class="nav">
        <a class="nav-link" href="{{ site.baseurl }}/">Blog</a>
        <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
        <a class="nav-link" href="{{ site.baseurl }}/projects">Projects</a>
      </nav>
    </div>
  </header>
  <main id="main" role="main" class="main grid-container">
    {{ content }}
  </main>
  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
