<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header class="header grid-container">
      <div class="header-container ">
        <a class="logo" href="{{ site.baseurl }}/" role="button">
          <img class="logo-image" alt="{{ site.title }}" src="/images/MonkeyLogo.png"/>
        </a>
        <input class="header-check" type="checkbox" name="reactive-nav" id="reactive-nav" />
        <label for="reactive-nav" tabindex="-1" role="button" class="logo-reactive" href="{{ site.baseurl }}/" role="button">
          <img class="logo-image" alt="{{ site.title }}" src="/images/MonkeyLogo.png"/>
        </label>
        <div class="nav-container">
        <nav class="nav">
          <a class="link nav-link reactive" href="{{ site.baseurl }}/">Home</a>
          <a class="link nav-link" href="{{ site.baseurl }}/blog">Blog</a>
          <a class="link nav-link" href="{{ site.baseurl }}/about">About</a>
          <a class="link nav-link" href="{{ site.baseurl }}/projects">Projects</a>
        </nav>
        </div>
      </div>
    </header>
    <main id="main" role="main" class="main {{page.custom-class | default: ''}}">
      {{ content }}
    </main>
    <footer class="footer grid-container">
      {% include footer.html %}
    </footer>
    {% include analytics.html %}
  </body>
</html>
